@font-face {
  font-family: "chalet";
  src: url(src/assets/fonts/ChaletNewYorkNineteenSeventy.ttf);
}
@font-face {
  font-family: "bellota";
  src: url(src/assets/fonts/Bellota-Regular.otf);
}
@font-face {
  font-family: "palatino";
  src: url(src/assets/fonts/palatino.ttf);
}
@font-face {
  font-family: "proxima-nova";
  src: url(src/assets/fonts/ProximaNova-Regular.otf);
}
@font-face {
  font-family: "source-sans-pro";
  src: url(src/assets/fonts/SourceSansPro-Regular.otf);
}
@font-face {
  font-family: "work-sans";
  src: url(src/assets/fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "pixelify-sans";
  src: url(src/assets/fonts/PixelifySans-Regular.ttf);
}
@font-face {
  font-family: "poetsen-one";
  src: url(@/assets/fonts/PoetsenOne-Regular.ttf);
}
.menu-principal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  display: flex;
  width: 100%;
  --s: 84px;
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  --_g: 0 120deg, #0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
  user-select: none;
}
.menu-principal-form {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
  animation: login-slideIn 0.5s ease-in-out forwards;
  background-color: #FFF;
  font-family: "poetsen-one", sans-serif;
  font-size: clamp(2.6125rem, 2.1942rem + 2.0913vw, 3.815rem);
  flex-direction: column;
  margin: 0 auto;
  max-width: 768px;
  padding: 1rem;
  width: 100%;
  text-align: center;
}
.menu-principal-form img {
  width: 20rem;
  height: auto;
  transform: translateY(0px);
  animation: img-float 3s ease-in-out infinite;
}
.menu-principal-form button {
  padding: 1em 2em;
  font-size: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 1rem;
  width: 75%;
}
.menu-principal-form button:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 15px 20px #D1CCBD;
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}
.menu-principal-form button:active {
  transform: translateY(-1px);
}

@keyframes login-slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes img-float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.game {
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
  --s: 84px;
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  --_g: 0 120deg, #0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
  user-select: none;
  max-width: 100%;
  max-height: 100%;
}
.game-container {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  font-family: "poetsen-one", sans-serif;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  animation: login-slideIn 0.5s ease-in-out forwards;
  background-color: #FFF;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.game-container button:hover {
  cursor: pointer;
}
.game-container-turno {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
  width: 60%;
}
.game-container-title {
  width: 100%;
  margin: 0.1rem;
}
.game-container-reset {
  padding: 1.3em 3em;
  font-size: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 0.1rem;
}
.game-container-reset:hover {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 15px 20px #D1CCBD;
  color: #fff;
  transform: translateY(-7px);
  cursor: pointer;
}
.game-container-player {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  margin: 0.1rem;
  padding-top: 0.1rem;
  padding-bottom: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
}
.game-container-player-vs {
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-top: 5rem;
  padding: 0.1rem;
  height: 15rem;
  width: 15rem;
}
.game-container-player-pontuacao {
  font-size: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  margin: 1rem auto;
  padding: 0.4rem;
}
.game-container-player-i {
  padding: 1rem;
  margin: 1rem;
  font-size: clamp(1.5119rem, 1.3584rem + 0.7674vw, 1.9531rem);
}
.game-container-player-i p {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 90%;
  padding: 0.1rem;
}
.game-container-player-i-rodada-escolha {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  padding: 0.1rem;
  width: 10rem;
  height: 10rem;
}
.game-container-player-ii {
  padding: 1rem;
  margin: 1rem;
  font-size: clamp(1.5119rem, 1.3584rem + 0.7674vw, 1.9531rem);
}
.game-container-player-ii p {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 90%;
  padding: 0.1rem;
}
.game-container-player-ii-rodada-escolha {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  padding: 0.1rem;
  width: 10rem;
  height: 10rem;
}
.game-container-escolhaJogador {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 100%;
  margin: 1rem;
  margin-bottom: 0.1rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  gap: 7rem;
  padding: 0.1rem;
  display: flex;
  flex-wrap: wrap;
}
.game-container-escolhaJogador-pedra {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 7rem;
  padding: 1rem;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.game-container-escolhaJogador-pedra:hover {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(1.1);
}
.game-container-escolhaJogador-pedra:active {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(0.9);
}
.game-container-escolhaJogador-papel {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 7rem;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  outline: none;
}
.game-container-escolhaJogador-papel:hover {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(1.1);
}
.game-container-escolhaJogador-papel:active {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(0.9);
}
.game-container-escolhaJogador-tesoura {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  width: 7rem;
  padding: 1rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}
.game-container-escolhaJogador-tesoura:hover {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(1.1);
}
.game-container-escolhaJogador-tesoura:active {
  box-shadow: 0px 15px 20px #D1CCBD;
  background-color: #e6e6e6;
  transform: scale(0.9);
}

.como-jogar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
  --s: 84px;
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  --_g: 0 120deg, #0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
  user-select: none;
}
.como-jogar-container {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  animation: login-slideIn 0.5s ease-in-out forwards;
  background-color: #FFF;
}
.como-jogar-container-header {
  font-size: clamp(1.8144rem, 1.5963rem + 1.0902vw, 2.4413rem);
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: "poetsen-one", sans-serif;
  flex-direction: row;
  margin: 0 auto;
  max-width: 768px;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
.como-jogar p {
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: "poetsen-one", sans-serif;
  font-size: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  flex-direction: row;
  margin: 0 auto;
  max-width: 768px;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

@keyframes login-slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes img-float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.creditos {
  align-items: center;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  height: 100vh;
  display: flex;
  --s: 84px;
  --c1: #f2f2f2;
  --c2: #cdcbcc;
  --c3: #999999;
  --_g: 0 120deg, #0000 0;
  background: conic-gradient(from 0deg at 83.3333333333% 33.3333333333%, var(--c3) var(--_g)), conic-gradient(from -120deg at 16.6666666667% 33.3333333333%, var(--c2) var(--_g)), conic-gradient(from 120deg at 33.3333333333% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from 120deg at 66.6666666667% 83.3333333333%, var(--c1) var(--_g)), conic-gradient(from -180deg at 33.3333333333% 50%, var(--c2) 60deg, var(--c1) var(--_g)), conic-gradient(from 60deg at 66.6666666667% 50%, var(--c1) 60deg, var(--c3) var(--_g)), conic-gradient(from -60deg at 50% 33.3333333333%, var(--c1) 120deg, var(--c2) 0 240deg, var(--c3) 0);
  background-size: calc(var(--s) * 1.732) var(--s);
  user-select: none;
}
.creditos-container {
  border: 1px solid #899064;
  border-radius: 0.3rem;
  box-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 2rem;
  margin: 2rem 0;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
  animation: login-slideIn 0.5s ease-in-out forwards;
  font-family: "poetsen-one", sans-serif;
}
.creditos-container p {
  font-size: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
  margin: 0 auto;
  max-width: 768px;
  padding: 0.5rem;
  width: 100%;
  text-align: center;
}
.creditos-container-links {
  justify-content: center;
  text-align: center;
}
.creditos-container-links img {
  width: 2rem;
  margin: 0.5rem;
}
.creditos-container a:hover {
  cursor: pointer;
}

@keyframes login-slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes img-float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.titulo-pagina {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  border-bottom: 1px solid #D1CCBD;
  color: #D1CCBD;
  font-family: "chalet", sans-serif;
  font-size: clamp(1.8144rem, 1.5963rem + 1.0902vw, 2.4413rem);
  height: 4rem;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 888;
}
.titulo-pagina-button:hover {
  color: #899064;
  cursor: pointer;
  scale: 1.1;
}
.titulo-pagina::before {
  background-color: #FFF;
  border-bottom: 1px solid #D1CCBD;
  content: "";
  height: 4rem;
  position: absolute;
  top: 0;
  left: -1rem;
  width: 1rem;
}
.titulo-pagina::after {
  background-color: #FFF;
  border-bottom: 1px solid #D1CCBD;
  content: "";
  height: 4rem;
  position: absolute;
  top: 0;
  right: -1rem;
  width: 1rem;
}

/*# sourceMappingURL=main.css.map */
